<config>    
    <modules>
        <Nova_Helloworld>
            <version>0.1.0</version>
        </Nova_Helloworld>
    </modules>
	
	    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Nova_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>  
    </frontend>
	
</config>   